@charset "utf-8";

/* CSS Document */ 
/* 커스텀이 필요한 클래스에 스타일을 추가해주세요. */

/* ==================================================
                    제목
================================================== */

h1,
.h1 {
  font-size: 3.6rem;
}
h2,
.h2 {
  font-size: 3.0rem;
}
h3,
.h3 {
  font-size: 2.4rem;
}
h4,
.h4 {
  font-size: 1.8rem;
}
h5,
.h5 {
  font-size: 1.4rem;
}
h6,
.h6 {
  font-size: 1.2rem;
}

/* ==================================================
                    button 버튼
================================================== */


.btn {

}
.btn-default {

}
.btn-primary{

}
.btn-success{

}
.btn-info{

}
.btn-warning{

}
.btn-danger{

}
.btn-link{

}
.btn-cancel{
    color: #fff;
    background-color: #444949 ;
    border-color: #444949;
}
.btn-search{
    color: #fff;
    background-color: #444949;
    border-color: #444949;
}
.btn-submit{
    color: #fff !important;
    background-color: rgba(0,0,0,0.8) !important;
    border-color: rgba(0,0,0,0.8) !important;;
    height: 38px;
}
.btn.cancel{
    background:rgba(0,0,0,0.6);
    height: 38px;
    color: #fff;
}
.btn.intable{
    color: #fff;
    background:rgba(0,0,0,0.4) !important;
    min-width:80px;
    height: 38px;
}
/* .btn 모션 관련 */

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus{
    outline : none;
    box-shadow : none;
    outline-offset : 0;
}
.btn:hover, 
.btn:focus, 
.btn.focus,
.btn:active, 
.btn.active{

}
.btn-default:hover, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default {

}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary{

}
.btn-success:hover, 
.btn-success:focus, 
.btn-success.focus, 
.btn-success:active, 
.btn-success.active, 
.open > .dropdown-toggle.btn-success{

}
.btn-info:hover, 
.btn-info:focus, 
.btn-info.focus, 
.btn-info:active, 
.btn-info.active, 
.open > .dropdown-toggle.btn-info {

}
.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning.focus, 
.btn-warning:active, 
.btn-warning.active, 
.open > .dropdown-toggle.btn-warning {

}
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger.focus, 
.btn-danger:active, 
.btn-danger.active, 
.open > .dropdown-toggle.btn-danger{

}
.btn-link:hover, 
.btn-link:focus, 
.btn-link.focus, 
.btn-link:active, 
.btn-link.active, 
.open > .dropdown-toggle.btn-link{

}

.btn-submit:hover{
    color: #fff;
    background-color: rgba(0,0,0,1) !important;
    border-color: rgba(0,0,0,1) !important;;
}
.intable:hover{
    background:rgba(0,0,0,0.6) !important;
    color:#fff !important; 
    box-shadow:rgba(0,0,0,0.3) 1px  1px 5px;
}

/* .btn 크기 */

.btn-lg, .btn-group-lg > .btn {

}
.btn-sm, .btn-group-sm > .btn{

}
.btn-xs, .btn-group-xs > .btn {

}

/* btn-group 그룹 관련 */

.btn-group > .btn, 
.btn-group-vertical > .btn {

}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {

}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {

}

.btn-group-vertical > .btn:first-child:not(:last-child) {

}
.btn-group-vertical > .btn:last-child:not(:first-child) {

}



/* ==================================================
                    Label 라벨
================================================== */

.label, a.label {
    color: #000;
    display: inline-block;
    padding: 0.4em 0.6em;
}
.label-default, a.label-default {
    color: #fff;
}
.label-primary, a.label-primary{
    color: #fff;
}
.label-success, a.label-success{
    color: #fff;
}
.label-info, a.label-info{
    color: #fff;
}
.label-warning, a.label-warning{
    color: #fff;
}
.label-danger, a.label-danger{
    color: #fff;
}

p.label-wrap,
h1.label-wrap,
h2.label-wrap,
h3.label-wrap,
h4.label-wrap,
h5.label-wrap,
h6.label-wrap {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.label:hover, a.label:focus {
    color: #000;
}
.label-default[href]:focus,.label-default[href]:hover {
    color: #fff;
}
.label-primary[href]:focus,.label-primary[href]:hover {
    color: #fff;
}
.label-success[href]:focus,.label-success[href]:hover {
    color: #fff;
}
.label-info[href]:focus,.label-info[href]:hover {
    color: #fff;
}
.label-warning[href]:focus,.label-warning[href]:hover {
    color: #fff;
}
.label-danger[href]:focus,.label-danger[href]:hover {
    color: #fff;

}

/* ==================================================
                    Alert 얼럿
================================================== */

.alert{

}

.alert h4 {

}
.alert .alert-link {

}

.alert > p,
.alert > ul {

}
.alert > p + p {

}

.alert-dismissable,
.alert-dismissible {

}
.alert-dismissable .close,
.alert-dismissible .close {

}

.alert-success {

}
.alert-success hr {

}
.alert-success .alert-link {

}

.alert-info {

}
.alert-info hr {

}
.alert-info .alert-link {

}

.alert-warning {
}
.alert-warning hr {
}
.alert-warning .alert-link {

}

.alert-danger {
}
.alert-danger hr {
}
.alert-danger .alert-link {

}



/* ==================================================
                example-area
================================================== */


li code,
p code {
  color: red;
}

.example-area + .example-area { margin-top: 30px;}
.example-tit { margin-bottom: 10px;}
.example-desc { margin-bottom: 10px;}
.example-desc > p { position: relative; padding-left: 12px; }
.example-desc > p::before { content: ''; display: block; clear: both; width: 4px; height: 4px; background: #000; position: absolute; top: 50%; left: 0; margin-top: -2px;}
.example-markup { margin-bottom: 10px;}
.example-box { margin-right: 0;  margin-left: 0;  border: 1px solid #ddd;  position: relative;  padding: 15px;  border-radius: 4px;}
.example-box .box-tit { margin-bottom: 15px; font-size: 12px;  font-weight: 700;  color: #959595;  text-transform: uppercase;  letter-spacing: 1px; }
.example-box .box-con > p { margin-bottom: 10px; }
